<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Welcome Check Coin</title>
  <base href="/">

  <link rel="stylesheet" href="./assets/css/all.css">
  <link rel="stylesheet" href="./assets/css/fontawesome.css">
</head>

<body>
  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-nav-bar></app-nav-bar>
        </div>
      </div>
    </div>
  </div>

  <div class="section full-height">
    <div class="absolute-center">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>